:root{
    --box-shadow: 0px 1px 4px 1px rgba(199,199,199,1);
}

body{
    font-family: "Rubik", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fcodetheweb.blog%2Fcss-advanced-background-images%2F&psig=AOvVaw14KUU0fKhmBbBshYae8BKJ&ust=1696605158180000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCMDq5--Y34EDFQAAAAAdAAAAABAE);
}
.app h1{
  
    text-align: center;
}
h2{
    font-size: 1.2em;
    text-transform: uppercase;
    margin-bottom: 10px;
}
 .balance-conatiner #balance{
    font-size: medium;

}

.cashflow-container{
    display: flex;
    box-shadow: var(--box-shadow);
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 20px;

}
.income-container{

    border-right: 1px solid #cccccc;
    padding-right: 20px;

}
.expense-container{
    padding-left: 20px;
}
#income,#expense{
    font-size: 1.3em;
}
#income{
    color: green;
}
#expense{
    color: red;
}

.transaction-container{
    margin-top: 40px;

}

#transaction{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#transaction li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: var(--box-shadow);
    margin-bottom: 10px;
    padding: 10px;

}
#transaction li .income-amt{
    display: inline-block;
    background-color: green;
    color: white;
    padding: 5px;
    border-radius: 3px;
    margin-right: 5px;
}
#transaction li .expense-amt{
    display: inline-block;
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 3px;
    margin-right: 5px;
}
#transaction li button{
    padding: 5px 10px 5px 10px;
}
.form-container{
    margin-top: 40px;
}

.form-container form{
    display: flex;
    flex-direction: column;
}
.form-container form label{
    padding-bottom: 10px;
}
.form-container form input{
    height: 25px;
    margin-bottom: 10px;
}
.form-container form button{
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1em;
    text-transform: uppercase;
    color: white;

}
#incomeBtn{
    background-color: green;
}
#expenseBtn{
    background-color: red;
}





